<blockquote >

    <img src="{{ testimonial.featuredImage('thumbnail').url }}" />
 n
    <p>{{ testimonial.post_content|wpautop }}</p>
    <footer>—{{ testimonial.name }}, <cite>{{ locations[testimonial.location] }}</cite></footer>
</blockquote>