<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>{{ theme.wp_title() }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <script>
      window._site = {{ _site|json }};
    </script>
    {{ theme.wp_head() }}
    {% block header %}
    {% endblock %}
</head>
<body>
<div id="root" v-cloak>

    {% block content %}
    {% endblock %}

</div>
{{ theme.wp_footer() }}
{% block footer %}
{% endblock %}
</body>
</html>